<?php
/**
 * Folk_Magazine extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Folk
 * @package        Folk_Magazine
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Issue list template on product page
 *
 * @category    Folk
 * @package     Folk_Magazine
 * @author      Ultimate Module Creator
 */
?>
<?php $issues = $this->getIssueCollection();?>
<?php if ($issues && $issues->count() > 0) :?>
<div class="box-collateral box-issues box-up-sell">
    <h2>Issues</h2>
    <?php foreach ($issues as $_issue) : ?>
        <div class="item">
            <a href="<?php echo $_issue->getIssueUrl()?>">
                <?php echo $_issue->getTitle();?>
            </a><br />
        </div>
    <?php endforeach; ?>
</div>
<?php endif;?>
