<?php
/**
 * Folk_Magazine extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Folk
 * @package        Folk_Magazine
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Issue Category list template on product page
 *
 * @category    Folk
 * @package     Folk_Magazine
 * @author      Ultimate Module Creator
 */
?>
<?php $issuecategories = $this->getIssuecategoryCollection();?>
<?php if ($issuecategories && $issuecategories->count() > 0) :?>
<div class="box-collateral box-issuecategories box-up-sell">
    <h2>Issue Categories</h2>
    <?php foreach ($issuecategories as $_issuecategory) : ?>
        <div class="item">
            <a href="<?php echo $_issuecategory->getIssuecategoryUrl()?>">
                <?php echo $_issuecategory->getTitle();?>
            </a><br />
        </div>
    <?php endforeach; ?>
</div>
<?php endif;?>
