<?php 
/**
 * Folk_Magazine extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Folk
 * @package        Folk_Magazine
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Issue Category list template
 *
 * @category    Folk
 * @package     Folk_Magazine
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_issuecategories = $this->getIssuecategories(); ?>
<div class="page-title issuecategory-title">
    <h1><?php echo Mage::helper('folk_magazine')->__('Issue Categories') ?></h1>
</div>
<?php if ($_issuecategories->getSize() > 0) :?>
    <?php echo $this->getPagerHtml(); ?>
    <div class="issuecategory-list-container">
    <?php foreach ($_issuecategories as $_issuecategory) : ?>
        <div class="issuecategory-list-item">
            <a href="<?php echo $_issuecategory->getIssuecategoryUrl()?>">
                <?php echo $_issuecategory->getTitle();?>
            </a><br />
        </div>
    <?php endforeach;?>
    </div>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <?php echo Mage::helper('folk_magazine')->__('There are no issue categories at this moment');?>
<?php endif;?>
