<?php
/**
 * Folk_Magazine extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Folk
 * @package        Folk_Magazine
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Issue Category view template
 *
 * @category    Folk
 * @package     Folk_Magazine
 * @author      Ultimate Module Creator
 */
?>
<?php $_issuecategory = $this->getCurrentIssuecategory();?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title issuecategory-title">
    <h1><?php echo $_issuecategory->getTitle(); ?></h1>
</div>
<div class="issuecategory-view">
    <div class="issuecategory-title">
        <?php echo Mage::helper('folk_magazine')->__('Title');?>:<?php echo $_issuecategory->getTitle();?>

    </div>
    <div class="issuecategory-image">
        <?php if ($_issuecategory->getImage()) :?>
    <img src="<?php echo Mage::helper('folk_magazine/issuecategory_image')->init($_issuecategory, 'image')->resize(75);?>" alt="<?php echo $this->escapeHtml($_issuecategory->getTitle());?>" />
<?php endif;?>

    </div>
    <div class="issuecategory-make_active_from">
        <?php echo Mage::helper('folk_magazine')->__("Make active from");?>: <?php echo Mage::helper('core')->formatDate($_issuecategory->getMakeActiveFrom(), 'full');?>

    </div>
    <div class="issuecategory-make_active_to">
        <?php echo Mage::helper('folk_magazine')->__("Make active to");?>: <?php echo Mage::helper('core')->formatDate($_issuecategory->getMakeActiveTo(), 'full');?>

    </div>

</div>
