<?php
/**
 * Folk_Magazine extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Folk
 * @package        Folk_Magazine
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
?>
<?php $_issue = $this->getCurrentIssue();?>
<div class="issue-view">
    <div class="issue-title">
        <?php echo Mage::helper('folk_magazine')->__('Title');?>:<?php echo $_issue->getTitle();?>

    </div>
    <div class="issue-subtitle">
        <?php echo Mage::helper('folk_magazine')->__('Subtitle');?>:<?php echo $_issue->getSubtitle();?>

    </div>
    <div class="issue-image">
        <?php if ($_issue->getImage()) :?>
            <img src="<?php echo Mage::helper('folk_magazine/issue_image')->init($_issue, 'image')->resize(75);?>" alt="<?php echo $this->escapeHtml($_issue->getTitle());?>" />
        <?php endif;?>
    <div class="issue-html_content">
        <?php echo Mage::helper('folk_magazine')->__('Html Content');?>:<?php echo $_issue->getHtmlContent();?>

    </div>
    <?php
    echo Mage::helper('folk_content')->getSliderHtml($_issue->getFeatures());
    ?>
</div>
