<?php 
/**
 * Folk_Magazine extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Folk
 * @package        Folk_Magazine
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Issuecategory Issue list template
 *
 * @category    Folk
 * @package     Folk_Magazine
 * @author      Ultimate Module Creator
 */
?>
<?php $_issues = $this->getIssues(); ?>
<?php if ($_issues->getSize() > 0) :?>
<div class="issue-title">
    <h2><?php echo Mage::helper('folk_magazine')->__('Issues') ?></h2>
</div>
<div class="issues-list-container">
    <?php foreach ($_issues as $_issue) : ?>
        <div class="issue-list-item">
            <a href="<?php echo $_issue->getIssueUrl()?>">
                <?php echo $_issue->getTitle();?>
            </a><br />
        </div>
    <?php endforeach;?>
</div>
<?php endif;?>
